copy{
  cursor: pointer;
}
copy:hover{
  color:lightgray
}
li img{
  width: auto;
  height: 15px;
  margin-right: 5px;
}
.navbar{
  position:fixed;
  width:-webkit-fill-available;
}
article{
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 18px;
}
.pt-6{
	padding-top:80px;
}
.text-decoration-none:hover{
   color:#00c1ff;
   text-decoration: underline !important;
}
a{
	color:#73ddff;
}
