.jumbotron {
  background: #532F8C;
  color: white;
  padding-top: 45px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  }
.container-custom{
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
code{
  cursor: pointer;
}
li img{
  width: auto;
  height: 15px;
  margin-right: 5px;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-right{
	float: right;
}
.navbar{
  position:fixed;
  width:-webkit-fill-available;
  min-height: 40px;
  
}



