<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<!-- http://www.thymeleaf.org Thymeleaf模板引擎 -->
<head>
</head>
<body>
<div th:fragment="layout">
    <nav class="navbar navbar-expand-sm navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> 關於我 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://github.com/syscut"><img src="/g-logo.png">我的github</a></li>
                        <li><a href="https://www.facebook.com/kim23362611/"><img src="/f-logo.png">我的Facebook</a></li>
                    </ul>
                </li>
             </ul>
             <ul class="nav navbar-nav">   
                <li class="dropdown">
                    <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> 文章分類 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/error.html">JavaScript</a></li>
                        <li><a href="/error.html">Cascading Stylesheets(CSS)</a></li>
                        <li><a href="/error.html">Java</a></li>
                        <li><a href="https://dotblogs.com.tw/zjh/2018/09/20/maven_3">Maven新手教學</a></li>
                        <li><a href="/error.html">建構中...</a></li>
                        <li class="divider"></li>
                        <li><a href="#">建構中...</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-right">
                    <a href="/login" ><span class="glyphicon glyphicon-search"></span> <b>登入</b></a>
                </li>
            </ul>
        </div>
    </nav>
    </div>
</body>
</html>