<!doctype html>
<html th:fragment="layout (template, menu)">
<head>
    <title>果凍的學習筆記</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/error.css" />
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> 關於我 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://github.com/syscut"><img src="/g-logo.png">我的github</a></li>
                        <li><a href="https://www.facebook.com/kim23362611/"><img src="/f-logo.png">我的Facebook</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> 文章分類 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/error.html">JavaScript</a></li>
                        <li><a href="/error.html">Cascading Stylesheets(CSS)</a></li>
                        <li><a href="/error.html">Java</a></li>
                        <li><a href="https://dotblogs.com.tw/zjh/2018/09/20/maven_3">Maven新手教學</a></li>
                        <li><a href="/error.html">建構中...</a></li>
                        <li class="divider"></li>
                        <li><a href="#">建構中...</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-right">
                    <a href="#"><span class="glyphicon glyphicon-book"></span> 開發手冊</a>
                </li>
            </ul>
        </div>
    </nav>
    <div th:replace="${template}"/>
    <script th:src="@{https://unpkg.com/sweetalert/dist/sweetalert.min.js}"></script>
    <script th:src="@{/scripts/main.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>