<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
<!-- http://www.thymeleaf.org Thymeleaf模板引擎 -->
<body>

<div class="jumbotron text-center">
  <div class="container">
    
    <h1>果凍的學習筆記</h1>
    
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> 開發日誌</h3>
      <ul>
        <li>2021/07/31網站上線</li>
        <li><a href="/js-map?date=2021-08-05&title=測試">測試讀取資料庫文章</a></li>
        <li><a href="/db">DBTest</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> 常用網站</h3>
      <ul>
        <li><a href="https://codepen.io/syscut">我的<img src="/c-logo.png"></a></li>
      </ul>
    </div>
  </div> <!-- row -->
  <div class="row">
  <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-exclamation-sign"></span> 站長專用</h3>
      <ul>
        <li><a href="/newarticle">寫新文章</a></li>
      </ul>
    </div>
  </div>
   <div th:replace="~{fragments/footer :: footer}"></div>
</div>

</body>
</html>
