<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
<div class="jumbotron text-center">
  <div class="container">
     
    <h1>果凍的學習筆記</h1>
    
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> 開發日誌</h3>
      <ul>
        <li>2021/07/31網站上線</li>
        <li><a href="/js-map?date=2021-08-05&title=測試">測試讀取資料庫文章</a></li>
        <li><a href="/db">DBTest</a></li>
      </ul>
    </div>
    <div class="col-xs-6" >
      <h3><span class="glyphicon glyphicon-book"></span> 文章列表</h3>
      <ul th:each="t: ${href}">
       <li><a th:href="@{${t}}" th:text="${t}"></a></li>
       
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h3><span class="glyphicon glyphicon-link"></span> 常用網站</h3>
      <ul>
        <li><a href="https://codepen.io/syscut">我的<img src="/c-logo.png"></a></li>
      </ul>
    </div>
  <div class="col-xs-6">
      <h3><span class="glyphicon glyphicon-exclamation-sign"></span> 站長專用</h3>
      <ul>
        <li><a href="/newarticle">寫新文章</a></li>
      </ul>
    </div>
    </div>
   <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>
