<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'js-map')}">
<body>
<div class="jumbotron text-center">
  <div class="container">
    <h1>果凍的學習筆記</h1>
    <h2 th:text="歡迎！"></h2>
  </div>
  </div>
 <div class="container">
  <div class="row">
    <div class="col-md-6">
  <h3 class="glyphicon glyphicon-calendar" th:text=" ${article[0]}"></h3>
  <h3 th:text="${article[1]}"></h3>
  <p th:text="${article[2]}"></p>
    <article th:text="${article[3]}"></article>
  </div>
  </div>
 </div>
 <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>