<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'login')}">

<body class="bg-dark text-white">

<div class="container pt-6">
  <form action="#" th:action="@{/login}" th:object="${doLogin}" method="post">
    <div class="row justify-content-center">
    <div class="col-sm-6 col-11">
    <h1 >登入</h1>
    	<div class="input-group pb-3 pt-3">
    	<span class="input-group-text">帳號</span>
    	<input type="text" th:field="*{id}" class="form-control" placeholder="6-20個字元" required/>
    	</div>
    	
        <div class="input-group">
        <span class="input-group-text">密碼</span>
        <input type="password" th:field="*{pd}" class="form-control" placeholder="至少7個字元，開頭為英文字母" required/>
        </div>
        
    </div>
    </div>
        <div class="text-center col-12" th:if="${err!=''}">格式錯誤</div>
        
        <div class="row justify-content-center pt-4 pb-4">
        <input type="submit" value="登入" class="btn btn-light col-sm-3 col-5"/>&nbsp;
        <input type="reset" value="重新輸入" class="btn btn-light col-sm-3 col-5"/>
        </div>
  </form> 
</div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>