<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'js-map')}">
<body class="bg-dark text-white">
 <div class="container pt-6">
 <form action="#" th:action="@{/addarticle}" th:object="${article}" method="post">
  <div class="row">
    <div class="col-12">
    <div class="btn-group position-fixed" style="right: 3%" role="group">
    <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      插入標籤
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
  <li><samp class="dropdown-item btn" >&lt;copyborad&gt;</samp></li>
  <li><samp class="dropdown-item btn" >&lt;code-js&gt;</samp></li>
  <li><samp class="dropdown-item btn" >&lt;code-java&gt;</samp></li>
  <li><samp class="dropdown-item btn" >&lt;code-html&gt;</samp></li>
  <li><samp class="dropdown-item btn" >&lt;code-css&gt;</samp></li>
  <li><samp class="dropdown-item btn" >&lt;kbd&gt;</samp></li>
  <li><samp class="dropdown-item btn" >&lt;var&gt;</samp></li>
  <li><samp class="dropdown-item btn" >&lt;samp&gt;</samp></li>
  <li><samp class="dropdown-item btn" >&lt;details&gt;</samp></li>
  <li><samp class="dropdown-item btn" >&lt;img&gt;</samp></li>
  <li><samp class="dropdown-item btn" >&lt;a&gt;</samp></li>
  <li><samp class="dropdown-item btn" >&amp;lt;&amp;gt;</samp></li>
  </ul>
  </div>
    </div>
	<h1>新增</h1>
	<p></p>
   	<h3 th:text="${today}"></h3>
   	<p></p>
   	<label class="form-label">標題：</label>
   	<input class="form-control w-50" type="text" th:field="*{title}"/>
   	<p></p>
   	<label class="form-label">內容：</label>
   	<textarea class="form-control" rows="50" th:field="*{content}"></textarea>
   	<p></p>
   	<label class="form-label">Tags：(標籤之間用逗號,隔開)</label>
       <input class="form-control w-50" type="text" th:field="*{tags}" />
       </div>
       </div>
       <p th:if="${#fields.hasErrors('title')}" th:text="${msg}"></p>
       <div class="row justify-content-center pt-4 pb-4">
       <div class="col-6">
       <input type="submit" class="btn btn-success col-12" value="送出" />
       </div>
       </div>
     </form> 
 <div th:replace="~{fragments/footer :: footer}"></div>
 </div>
</body>
</html>