<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'js-map')}">
<body>
<div class="jumbotron text-center">
  <div class="container">
    <h1>果凍的學習筆記</h1>
    <h2 th:text="新增文章"></h2>
  </div>
  </div>
 <div class="container">
  <div class="row">
    <div class="col">
	<h1></h1>
     <form action="#" th:action="@{/addarticle}" th:object="${article}" method="post">
    	<fieldset><h3 class="glyphicon glyphicon-calendar" th:text=" ${today}"></h3>
    	<p>文章標題: <input type="text" th:field="*{title}"/></p>
    	<p>文章內容: </p><textarea rows="20" cols="100" th:field="*{content}"></textarea>
        <p>Tags: <input type="text" th:field="*{tags}" /></p>
        <p th:if="${#fields.hasErrors('title')}" th:text="${msg}"></p>
        </fieldset>
        <p><input type="submit" value="送出" /></p>
        
     </form> 
    </div>
  </div>
</div>
 <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>