<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'js-map')}">
<body>
<div class="jumbotron text-center">
  <div class="container">
    <h1>果凍的學習筆記</h1>
    <h2 th:text="歡迎！"></h2>
  </div>
  </div>
 <div class="container">
  <div class="row">
    <div class="col-md-6">
  <h3 class="glyphicon glyphicon-calendar" th:text=" ${today}"></h3>
  <h3></h3>
  <ul th:each="record : ${records}">
    <li th:text="${record}"/>
  </ul>
  </div>
  </div>
 </div>
 <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>