<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'resault')}">
<body class="bg-dark text-white">
 <div class="container pt-6 px-4">
  <div class="row">
  <h2 class="col-12 text-center fw-bold" th:text="${search_tag}"></h2>
  <div class="text-center col-12" th:if="${err!=''}"><img src="/404.jpg"></div>
    <div class="col-12" th:each="article: ${article}">
    <h3><a class="text-decoration-none" th:href="@{/article?id={id}(id=${article.id})}" ><span th:text="${article.title}"></span></a></h3>
  <a class="text-decoration-none text-white" th:href="@{/js-map?id={id}(id=${article.id})}" ><span class="resault-tag" th:text="${article.content}"></span></a>
  <p></p>
  <span th:text="${article.date}"></span>
  <p></p>
  <span th:each="tags: ${article.tags}"><a th:href="@{/tags?tag={t}(t=${tags})}"><span class="badge bg-primary" th:text="${tags}"></span></a>&emsp;</span>
  <p></p>
  <hr class="bg-secondary">
  </div>
  </div>
 <p></p>
 <div th:replace="~{fragments/footer :: footer}"></div>
 </div>
</body>
</html>